extends ../layout.pug

block content
	.jumbotron.secondary-jumbotron.bg-transparent
		.container
			h1 Audit Log
			p Changes or modification to your bot listing.
	.container
		for log in audit
			.card.preview-card.static
				.card-body
					h4.mb-0 #{log.type === 0 ? 'Added bot' : log.type === 1 ? 'Bot was accepted' : log.type === 2 ? 'Bot was edited' : 'Unknown audit'}
					if log.user
						a.mb-0(href='/user/' + log.user.id) #{log.user.username}##{log.user.discriminator}
					else
						p.mb-0 Unknown User
					if log.modifications
						if log.modifications.length > 0
							p.mb-0
								| Modified 
								for modified in log.modifications
									| #{modified}
									if log.modifications.indexOf(modified) + 1 < log.modifications.length
										| , 
						else
							p.mb-0 Modifications unknown
					p.mb-0(title=log.alt_timestamp) #{log.time}