extends ../layout.pug

block scripts
	script(type='text/javascript' src='/js/badges' + min + '.js')

block content
	.jumbotron.secondary-jumbotron.bg-transparent
		.container
			h2 Badges
			p Small GitHub style badges that you can put almost anywhere!
	.container
		h2 What are badge?
		p Badges are small SVG images that can be placed basically on anything, GitHub README files, your website, a documentation, etc. They show small statistics about your bot in a non-intrusive fashion. These badges are extremely customizable and configurable.
		h2 Badge Generator
		.row
			.col-lg-3
				img.full-width#preview(src='/bot/' + bot.id + '/badge?property=tag&style=flat&color=brightgreen')
				pre.border.p-2.mt-3(style='overflow-y: hidden;')
					code#url https://botlist.space/bot/#{bot.id}/badge?property=tag&amp;style=flat&amp;color=brightgreen
				p#loading(style='display: none;') Loading...
			.col-lg-3
				p Property
				select.form-control#property
					for property in properties
						if (property === 'tag')
							option(selected) #{property}
						else
							option #{property}
			.col-lg-3
				p Style
				select.form-control#style
					for style in styles
						if (style === 'flat')
							option(selected) #{style}
						else
							option #{style}
			.col-lg-3
				p Color
				select.form-control#color
					for color in colors
						if (color === 'brightgreen')
							option(selected) #{color}
						else
							option #{color}
					option(data-custom) Custom HEX
				input.mt-3.form-control.custom#custom(type='text' placeholder='Custom HEX' style='display: none;' value='E50000')
		h2 Variations
		p
			| URL Format: 
			code https://botlist.space/bot/#{bot.id}/badge?property=&lt;property&gt;&amp;style=&lt;style&gt;&amp;color=&lt;color&gt;
		p
			b Properties
			| : 
			for property in properties
				code.border #{property}
				if properties.indexOf(property) + 1 < properties.length
					| , 
		p
			b Styles
			| : 
			for style in styles
				code.border #{style}
				if styles.indexOf(style) + 1 < styles.length
					| , 
		p
			b Colors
			| : 
			for color in colors
				code.border #{color}
				if colors.indexOf(color) + 1 < colors.length
					| , 
			| . Additionally, you can provide any HEX color code without a # symbol.
		h2 Preview
		h4.mt-3 Properties
		for property in properties
			p
				| #{property}: 
				img(src='/bot/' + bot.id + '/badge?property=' + property)
				| 
				code.border https://botlist.space/bot/#{bot.id}/badge?property=#{property}
		h4 Styles
		for style in styles
			p
				| #{style}: 
				img(src='/bot/' + bot.id + '/badge?property=tag&style=' + style)
				| 
				code.border https://botlist.space/bot/#{bot.id}/badge?property=tag&amp;style=#{style}
		h4 Colors
		for color in colors
			p
				| #{color}: 
				img(src='/bot/' + bot.id + '/badge?property=tag&color=' + color)
				| 
				code.border https://botlist.space/bot/#{bot.id}/badge?property=tag&amp;color=#{color}