extends ../layout.pug

block content
	.jumbotron.bg-transparent.bot-card
		.container
			.row
				.col-lg-3
					if bot.avatar_child_friendly
						img.main-image(src=avatarURL(bot) onerror=onerror alt=bot.username + '\'s Avatar')
					else
						img.main-image.blur(src=avatarURL(bot) onerror=onerror draggable='false' alt=bot.username + '\'s Avatar')
				.col-lg-9
					.vertical-align
						span.card-title
							h1 #{bot.username}
							span(class='status ' + bot.status title=bot.status.charAt(0).toUpperCase() + bot.status.slice(1))
						p.mb-5 #{bot.short_description}
			hr
			form.form(method='post')
				.form-group
					label(for='shortDescription') Reason
					input#shortDescription.form-control(type='text' name='reason')
				button.btn.btn-dark.btn-red(type='submit') Delete Bot