extends ../layout.pug

block tags
	meta(name='description' content=bot.short_description)
	link(rel='canonical' href='https://botlist.space/bot/' + bot.id)
	
	// Open Graph
	meta(property='og:title' content=bot.username + ' | botlist.space')
	meta(property='og:description' content=bot.short_description)
	meta(property='og:type' content='website')
	meta(property='og:url' content='https://botlist.space/bot/' + bot.id)
	meta(property='og:image' content=avatarURL(bot))

block scripts
	script(type='application/ld+json').
		{
			"@context": "http://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [
				{
					"@type": "ListItem",
					"position": 1,
					"name": "Home",
					"item": "https://botlist.space/"
				},
				{
					"@type": "ListItem",
					"position": 2,
					"name": "Bots",
					"item": "https://botlist.space/bots"
				},
				{
					"@type": "ListItem",
					"position": 3,
					"name": "#{bot.username}",
					"item": "https://botlist.space/bot/#{bot.id}"
				}
			]
		}

block styles
	link(rel='stylesheet' href='/css/github-markdown.min.css')

block content
	.jumbotron.bg-transparent.bot-card
		.container
			.row
				.col-lg-3.col-md-3.col-sm-6.col-6
					if bot.avatar_child_friendly
						img.main-image(src=avatarURL(bot) onerror=onerror alt=bot.username + '\'s Avatar')
					else
						img.main-image.blur-shadow(src=avatarURL(bot) onerror=onerror draggable='false' alt=bot.username + '\'s Avatar')
				.col-lg-9.col-md-9.col-sm-12.col-12
					.vertical-align
						span.card-title
							h1 #{bot.username}
							span(class='status ' + bot.status title=bot.status.charAt(0).toUpperCase() + bot.status.slice(1))
						p.mb-10 #{bot.short_description}
						.row.data
							.col-lg-6
								p Links
								ul
									li
										a#invite(href='/bot/' + bot.id + '/invite' target='_blank') Invite Bot
									if bot.links.support
										li
											a(href='/bot/' + bot.id + '/server' target='_blank') Support Server
									if bot.website
										li
											a(href=bot.website target='_blank') Website
									if user && (bot.owners.some((owner) => owner.id === user.id) || user.admin)
										li
											a(href='/bot/' + bot.id + '/manage') Manage
							.col-lg-6
								p Tags
								ul
									for tag in bot.tags
										li
											a(href='/bots/tag/' + tag.short) #{tag.name}
							if bot.certified
								.col-lg-6
									if bot.owners.length > 1
										p Owners
									else
										p Owner
									ul
										for owner in bot.owners
											li
												a(href='/user/' + owner.id) #{owner.username}##{owner.discriminator}
								.col-lg-6
									p Features
									ul
										li
											a(href='/bots/certified') Certified
							else
								.col-lg-12
									if bot.owners.length > 1
										p Owners
									else
										p Owner
									ul
										for owner in bot.owners
											li
												a(href='/user/' + owner.id) #{owner.username}##{owner.discriminator}
			hr
			.stats-list
				span Prefix: 
					code.border.pt-1.pb-1.pl-2.pr-2 #{bot.prefix}
				span
					a(href='/bot/' + bot.id + '/upvote') Upvote Bot
				if bot.library
					span
						a(href='/bots/library/' + bot.library.short) #{bot.library.name}
				if bot.upvotes === 1
					span #{bot.upvotes} upvote this month
				else
					span #{bot.upvotes.length.toLocaleString()} upvotes this month
				if bot.server_count
					span #{bot.server_count.toLocaleString()} servers
			hr
	if bot.full_description !== ''
		.container.markdown-body
			!= bot.full_description