extends ../layout.pug

block content
	.jumbotron.secondary-jumbotron.bg-transparent
		.container
			h2 Edit User
			p You are currently editing #{usr.username}##{usr.discriminator}.
	.container
		form.form(method='post' data-garlic)
			h2.underline General Information
			.form-group
				label.required(for='id') Client ID
				input#id.form-control(type='text' aria-describedby='idHelp' name='id' value=usr.id required disabled)
			.form-group
				label(for='shortDescription') Short Description
				input#shortDescription.form-control(type='text' name='short_description' value=usr.short_description)
			.form-group
				label(for='website') Website URL
				input#website.form-control(type='text' name='website' value=usr.website)
			button.btn.btn-dark(type='submit') Submit
