extends ../layout.pug

block styles
	link(rel='stylesheet' href='/css/codemirror.min.css')
	if user.style === 1 || user.style === 2
		link(rel='stylesheet' href='/css/darcula.min.css')

block scripts
	script(type='text/javascript' src='/js/codemirror.min.js')
	script(type='text/javascript' src='/js/css.min.js')
	script(type='text/javascript' src='/js/settings' + min + '.js')

block content
	.jumbotron.secondary-jumbotron.bg-transparent
		.container
			h2 Settings
			p You are editing the preferences and settings for #{usr.username}##{usr.discriminator}.
	.container
		form.form(method='post' data-garlic)
			.form-group
				label(for='style') Style
				select.form-control#style(name='style')
					option(selected=(parseInt(usr.style) === 0) value=0) Light
					for style in Object.entries(styleMap)
						option(selected=(parseInt(usr.style) === parseInt(style[0])) value=style[0]) #{style[1].name}
			.form-group
				label(for='customCSS') Custom Global CSS
				textarea#customCSS.form-control(type='text' aria-describedby='fullDescriptionHelp' name='custom_css') #{usr.custom_css}
				small#inviteHelp.form-text
					| Custom CSS that is applied to every page across the site, only applies to you. Just remember, custom CSS can be dangerous, as it can break your view of the site. If you ever need to revert changes, just go to 
					a(href='/cssreset') https://botlist.space/cssreset
					| .
			button.btn.btn-dark(type='submit') Submit Changes