extends ../layout.pug

block scripts
	script(type='text/javascript' src='/js/reason' + min + '.js')

block content
	.jumbotron.bg-transparent.bot-card
		.container
			.row
				.col-lg-3
					if bot.avatar_child_friendly
						img.main-image.full-width.shadow(src=avatarURL(bot) onerror=onerror alt=bot.username + '\'s Avatar')
					else
						img.main-image.full-width.blur-shadow(src=avatarURL(bot) onerror=onerror draggable='false' alt=bot.username + '\'s Avatar')
				.col-lg-9
					.vertical-align
						span.card-title
							h1 #{bot.username}
						p.mb-5 #{bot.short_description}
			hr
			form.form(method='post')
				.form-group
					label(for='reason') Reason
					select.form-control#quick-reason
						option(selected disabled) Select a quick reason...
						option Bot uptime is below minimum requirement
						option Bot features conflicts with another bot already in the program
						option No effort was put into the certification application
						option The bot has many bugs or problems that make it unusable
						option(disabled) &mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;&mdash;
						option(data-other) Other reason
					input#reason.form-control(type='text' name='reason' placeholder='Reason' style='visibility: hidden; height: 0; margin: 0;')
				button.btn.btn-dark.btn-red(type='submit') Decline Certification