extends ../layout.pug

block content
	.jumbotron.secondary-jumbotron.bg-transparent
		.container
			h1 Queue
			p Check unverified bots to see if they are worthy.
	.container
		if bots.length > 0
			ul.bot-list
				for bot in bots
					li.card.preview-card
						.card-body
							.head
								if bot.avatar_child_friendly
									img.float-left.lazy(src=avatarURL() data-src=avatarURL(bot) onerror=onerror alt='Avatar for ' + bot.username draggable='false')
								else
									img.float-left.blur.lazy(src=avatarURL() data-src=avatarURL(bot) onerror=onerror alt='Avatar for ' + bot.username draggable='false')
								.content
									h3(title=bot.username)
										span #{bot.username}
									p.description(title=bot.short_description) #{bot.short_description}
							p.mt-3.mb-0
								| Prefix: 
								code.border.pt-1.pb-1.pl-2.pr-2 #{bot.prefix}
							p.mt-3.mb-3
								| Duration in Queue: 
								code.border.pt-1.pb-1.pl-2.pr-2 #{bot.duration}
							a.btn.btn-dark.no-corners.mr-1(href='/bot/' + bot.id target='_blank') View
							a.btn.btn-dark.no-corners.mr-1(href=bot.invite target='_blank') Invite
							a.btn.btn-dark.btn-green.no-corners.mr-1(href='/admin/queue/' + bot.id + '/approve') Approve
							a.btn.btn-dark.btn-red.no-corners.mr-1(href='/admin/queue/' + bot.id + '/decline') Decline
		else
			p.text-center There doesn't seem to be any bots here.