a.no-color(href='/bot/' + bot.id)
	div(class='card preview-card' + (!bot.approved ? ' unapproved' : '') + (bot.background ? ' background' : '') style=(bot.background ? 'background-image: url("/background/' + bot.id + '.png");' : null))
		.card-body
			.head
				if bot.avatar_child_friendly
					img.float-left.lazy(src=avatarURL() data-src=avatarURL(bot) onerror=onerror alt='Avatar for ' + bot.username draggable='false')
				else
					img.float-left.blur.lazy(src=avatarURL() data-src=avatarURL(bot) onerror=onerror alt='Avatar for ' + bot.username draggable='false')
				.content
					h3(title=bot.username)
						span #{bot.username}
						span(class='status ' + bot.status title=bot.status.charAt(0).toUpperCase() + bot.status.slice(1))
					p.description(title=bot.short_description) #{bot.short_description}