a.no-color(href='/user/' + usr.id)
	.card.preview-card
		.card-body
			.head
				img.float-left.lazy(src=avatarURL() data-src=avatarURL(usr) onerror=onerror alt='Avatar for ' + usr.username + '#' + usr.discriminator draggable='false')
				.content
					h3(title=usr.username + '#' + usr.discriminator)
						| #{usr.username}##{usr.discriminator}
						span(class='status ' + usr.status title=usr.status.charAt(0).toUpperCase() + usr.status.slice(1))
					p.description(title=usr.short_description || 'No biography') #{usr.short_description || 'No biography'}